html {
    height: 100%;
    width: 100%;
  }

.less-size {
    font-size: 80%;
}

.circle-shadow {
    background-color: rgba(193, 90, 26, 0.647);
    border: 2px solid #000000;
    border-radius1: 50%;
    letter-spacing: 3px;
    padding: 20px;
}

.circle-shadow a {
    text-decoration: none;
}

#logo-panel {
    border: 1px solid;
}
#menu-panel {
    border: 1px solid;
}

#images-panel {
    border: 1px solid;
}
#images-panel img {
    width: 100%;
}

.left-panel {
    border: 1px solid;
    width: 15%;
    float: left;
    overflow: auto;
    max-height: 100vh;
}

.right-panel {
    border: 1px solid;
    float: right;
    width: 70%;    
}

#audio-panel {
    border: 1px solid;
}

#preview-panel {
    border: 1px solid;
    text-align: center;
}

#result-panel {
    border: 1px solid;
    text-align: center;
}
