html {
    height: 100%;
    width: 100%;
  }

#header {
    border: 1px solid;
    height: 20vh;
    width: 100%;
    background: url('../images/cover.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.logo-panel h1 { 
    margin: 2vh 0 4vh;
    color: #25262e;
    font-size: 38px;
    font-style: italic;
    text-align: center;
}

.menu-panel {
    font-size: 25px;
    font-weight: 600;
    margin-top: 2.5vh;
    text-align: center;
}

.less-size {
    font-size: 80%;
    letter-spacing: 2px;
    padding: 0 1px 0 2px;
}

.circle-shadow {
    background-color: rgb(212 162 109 / 18%);
    color: rgb(41 40 49);
    border-radius: 50%;
    letter-spacing: 3px;
    padding: 20px; 
}

.menu-panel a {
    text-decoration: none;
}

#images-panel {
    border: 1px solid;
}
#images-panel img {
    width: 100%;
}

#examples-panel {
    border: 1px solid;
}

.left-panel {
    width: 15%;
    float: left;
    overflow: auto;
    max-height: 83vh;
}

.right-panel {
    border: 1px solid;   
}

#audio-panel {
    border: 1px solid;
}

#preview-panel {
    border: 1px solid;
    text-align: center;
}

#result-panel {
    border: 1px solid;
    text-align: center;
}

.img-preview img {
    height: 400px;
    width: auto;
}

.imgs-selected {
    overflow-x: auto;
    white-space: nowrap;
}
.imgs-selected img {
    height: 50px;
    width: auto;
    padding: 0 2px;
}

#audio-preview {
    width: 800px;
}