html {
    height: 100%;
    width: 100%;
  }

.less-size {
    font-size: 80%;
}

.circle-shadow {
    background-color: rgba(193, 90, 26, 0.647);
    border: 2px solid #000000;
    border-radius1: 50%;
    letter-spacing: 3px;
    padding: 20px;
}

.circle-shadow a {
    text-decoration: none;
}

.logo {

}
.menu {

}

.audio {

}

.images {
    width: 150px;
    float: left;
    border-right: 1px solid #666;
    white-space: nowrap flex-grow: 1;
    grid-row-end: 6;
    overflow-x: hidden;
    height: 550px;
}

.preview {
    float: right;
}

.result {

}
